{
  "env": {
    "es5": {
      "plugins": [
        "@babel/plugin-transform-runtime"
      ],
      "presets": [
        ["@babel/preset-env", {
          "loose": true,
          "modules": false
        }]
      ]
    },
    "es2015": {
      "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-async-generator-functions"
      ]
    },
    "es5-cjs": {
      "plugins": [
        "@babel/plugin-transform-runtime",
        "add-module-exports"
      ],
      "presets": [
        ["@babel/preset-env", {
          "loose": true
        }]
      ]
    },
    "es2015-cjs": {
      "plugins": [
        "add-module-exports",
        "@babel/plugin-transform-modules-commonjs",
        "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-async-generator-functions"
      ]
    },
    "cjs": {
      "plugins": [
        "@babel/plugin-syntax-async-generators",
        "add-module-exports",
        "@babel/plugin-transform-modules-commonjs"
      ]
    }
  }
}
