# @generated
# It should not be necessary to edit this file directly.
# The template for this file is: templates/gitattributes-file.js

.gitattributes linguist-generated=true
src/__tests__/async-batch.test.js linguist-generated=true
src/__tests__/async-compress.test.js linguist-generated=true
src/__tests__/async-concat.test.js linguist-generated=true
src/__tests__/async-consume.test.js linguist-generated=true
src/__tests__/async-cursor.test.js linguist-generated=true
src/__tests__/async-cycle.test.js linguist-generated=true
src/__tests__/async-drop-while.test.js linguist-generated=true
src/__tests__/async-enumerate.test.js linguist-generated=true
src/__tests__/async-every.test.js linguist-generated=true
src/__tests__/async-execute.test.js linguist-generated=true
src/__tests__/async-filter.test.js linguist-generated=true
src/__tests__/async-find.test.js linguist-generated=true
src/__tests__/async-first.test.js linguist-generated=true
src/__tests__/async-flat-map.test.js linguist-generated=true
src/__tests__/async-flat.test.js linguist-generated=true
src/__tests__/async-fns.js linguist-generated=true
src/__tests__/async-fork.test.js linguist-generated=true
src/__tests__/async-group-by.test.js linguist-generated=true
src/__tests__/async-interpose.test.js linguist-generated=true
src/__tests__/async-map.test.js linguist-generated=true
src/__tests__/async-multi-partition.test.js linguist-generated=true
src/__tests__/async-partition.test.js linguist-generated=true
src/__tests__/async-reduce.test.js linguist-generated=true
src/__tests__/async-regexp-exec-iter.test.js linguist-generated=true
src/__tests__/async-regexp-split-iter.test.js linguist-generated=true
src/__tests__/async-size.test.js linguist-generated=true
src/__tests__/async-slice.test.js linguist-generated=true
src/__tests__/async-some.test.js linguist-generated=true
src/__tests__/async-split-at.test.js linguist-generated=true
src/__tests__/async-split-lines.test.js linguist-generated=true
src/__tests__/async-take-sorted.test.js linguist-generated=true
src/__tests__/async-take-while.test.js linguist-generated=true
src/__tests__/async-tap.test.js linguist-generated=true
src/__tests__/async-to-array.test.js linguist-generated=true
src/__tests__/async-zip-all.test.js linguist-generated=true
src/__tests__/async-zip.test.js linguist-generated=true
src/__tests__/batch.test.js linguist-generated=true
src/__tests__/compress.test.js linguist-generated=true
src/__tests__/concat.test.js linguist-generated=true
src/__tests__/consume.test.js linguist-generated=true
src/__tests__/cursor.test.js linguist-generated=true
src/__tests__/cycle.test.js linguist-generated=true
src/__tests__/drop-while.test.js linguist-generated=true
src/__tests__/enumerate.test.js linguist-generated=true
src/__tests__/every.test.js linguist-generated=true
src/__tests__/execute.test.js linguist-generated=true
src/__tests__/filter.test.js linguist-generated=true
src/__tests__/find.test.js linguist-generated=true
src/__tests__/first.test.js linguist-generated=true
src/__tests__/flat-map.test.js linguist-generated=true
src/__tests__/flat.test.js linguist-generated=true
src/__tests__/fns.js linguist-generated=true
src/__tests__/fork.test.js linguist-generated=true
src/__tests__/group-by.test.js linguist-generated=true
src/__tests__/interpose.test.js linguist-generated=true
src/__tests__/map.test.js linguist-generated=true
src/__tests__/multi-partition.test.js linguist-generated=true
src/__tests__/partition.test.js linguist-generated=true
src/__tests__/reduce.test.js linguist-generated=true
src/__tests__/regexp-exec-iter.test.js linguist-generated=true
src/__tests__/regexp-split-iter.test.js linguist-generated=true
src/__tests__/size.test.js linguist-generated=true
src/__tests__/slice.test.js linguist-generated=true
src/__tests__/some.test.js linguist-generated=true
src/__tests__/split-at.test.js linguist-generated=true
src/__tests__/split-lines.test.js linguist-generated=true
src/__tests__/take-sorted.test.js linguist-generated=true
src/__tests__/take-while.test.js linguist-generated=true
src/__tests__/tap.test.js linguist-generated=true
src/__tests__/to-array.test.js linguist-generated=true
src/__tests__/zip-all.test.js linguist-generated=true
src/__tests__/zip.test.js linguist-generated=true
src/async-batch.mjs linguist-generated=true
src/async-compress.mjs linguist-generated=true
src/async-concat.mjs linguist-generated=true
src/async-consume.mjs linguist-generated=true
src/async-cursor.mjs linguist-generated=true
src/async-drop-while.mjs linguist-generated=true
src/async-enumerate.mjs linguist-generated=true
src/async-every.mjs linguist-generated=true
src/async-execute.mjs linguist-generated=true
src/async-filter.mjs linguist-generated=true
src/async-find.mjs linguist-generated=true
src/async-first.mjs linguist-generated=true
src/async-flat-map.mjs linguist-generated=true
src/async-flat.mjs linguist-generated=true
src/async-fork.mjs linguist-generated=true
src/async-group-by.mjs linguist-generated=true
src/async-interpose.mjs linguist-generated=true
src/async-map.mjs linguist-generated=true
src/async-multi-partition.mjs linguist-generated=true
src/async-partition.mjs linguist-generated=true
src/async-reduce.mjs linguist-generated=true
src/async-regexp-exec-iter.mjs linguist-generated=true
src/async-regexp-split-iter.mjs linguist-generated=true
src/async-size.mjs linguist-generated=true
src/async-slice.mjs linguist-generated=true
src/async-some.mjs linguist-generated=true
src/async-split-at.mjs linguist-generated=true
src/async-split-lines.mjs linguist-generated=true
src/async-take-sorted.mjs linguist-generated=true
src/async-take-while.mjs linguist-generated=true
src/async-tap.mjs linguist-generated=true
src/async-to-array.mjs linguist-generated=true
src/async-zip-all.mjs linguist-generated=true
src/async-zip.mjs linguist-generated=true
src/batch.mjs linguist-generated=true
src/compress.mjs linguist-generated=true
src/concat.mjs linguist-generated=true
src/consume.mjs linguist-generated=true
src/cursor.mjs linguist-generated=true
src/drop-while.mjs linguist-generated=true
src/enumerate.mjs linguist-generated=true
src/every.mjs linguist-generated=true
src/execute.mjs linguist-generated=true
src/filter.mjs linguist-generated=true
src/find.mjs linguist-generated=true
src/first.mjs linguist-generated=true
src/flat-map.mjs linguist-generated=true
src/flat.mjs linguist-generated=true
src/fork.mjs linguist-generated=true
src/group-by.mjs linguist-generated=true
src/interpose.mjs linguist-generated=true
src/map.mjs linguist-generated=true
src/multi-partition.mjs linguist-generated=true
src/partition.mjs linguist-generated=true
src/reduce.mjs linguist-generated=true
src/regexp-exec-iter.mjs linguist-generated=true
src/regexp-split-iter.mjs linguist-generated=true
src/size.mjs linguist-generated=true
src/slice.mjs linguist-generated=true
src/some.mjs linguist-generated=true
src/split-at.mjs linguist-generated=true
src/split-lines.mjs linguist-generated=true
src/take-sorted.mjs linguist-generated=true
src/take-while.mjs linguist-generated=true
src/tap.mjs linguist-generated=true
src/to-array.mjs linguist-generated=true
src/zip-all.mjs linguist-generated=true
src/zip.mjs linguist-generated=true
