# @generated
# It should not be necessary to edit this file directly.
# The template for this file is: generate/templates/gitattributes-file.js

.gitattributes linguist-generated=true
src/__spec__/async-execute.spec.ts linguist-generated=true
src/__spec__/async-filter.spec.ts linguist-generated=true
src/__spec__/async-find.spec.ts linguist-generated=true
src/__spec__/async-first-or.spec.ts linguist-generated=true
src/__spec__/async-first.spec.ts linguist-generated=true
src/__spec__/async-flat.spec.ts linguist-generated=true
src/__spec__/async-group-by.spec.ts linguist-generated=true
src/__spec__/async-interleave.spec.ts linguist-generated=true
src/__spec__/async-split-at.spec.ts linguist-generated=true
src/__spec__/execute.spec.ts linguist-generated=true
src/__spec__/filter.spec.ts linguist-generated=true
src/__spec__/find.spec.ts linguist-generated=true
src/__spec__/first-or.spec.ts linguist-generated=true
src/__spec__/first.spec.ts linguist-generated=true
src/__spec__/flat.spec.ts linguist-generated=true
src/__spec__/group-by.spec.ts linguist-generated=true
src/__spec__/interleave.spec.ts linguist-generated=true
src/__spec__/split-at.spec.ts linguist-generated=true
src/__tests__/apply.spec.ts linguist-generated=true
src/__tests__/async-batch.spec.ts linguist-generated=true
src/__tests__/async-batch.test.js linguist-generated=true
src/__tests__/async-buffer.spec.ts linguist-generated=true
src/__tests__/async-compress.spec.ts linguist-generated=true
src/__tests__/async-compress.test.js linguist-generated=true
src/__tests__/async-concat.spec.ts linguist-generated=true
src/__tests__/async-concat.test.js linguist-generated=true
src/__tests__/async-consume.spec.ts linguist-generated=true
src/__tests__/async-consume.test.js linguist-generated=true
src/__tests__/async-cursor.spec.ts linguist-generated=true
src/__tests__/async-cursor.test.js linguist-generated=true
src/__tests__/async-cycle.spec.ts linguist-generated=true
src/__tests__/async-cycle.test.js linguist-generated=true
src/__tests__/async-drop-while.spec.ts linguist-generated=true
src/__tests__/async-drop-while.test.js linguist-generated=true
src/__tests__/async-enumerate.spec.ts linguist-generated=true
src/__tests__/async-enumerate.test.js linguist-generated=true
src/__tests__/async-every.spec.ts linguist-generated=true
src/__tests__/async-every.test.js linguist-generated=true
src/__tests__/async-execute.spec.ts linguist-generated=true
src/__tests__/async-execute.test.js linguist-generated=true
src/__tests__/async-filter-parallel.spec.ts linguist-generated=true
src/__tests__/async-filter.spec.ts linguist-generated=true
src/__tests__/async-filter.test.js linguist-generated=true
src/__tests__/async-find.spec.ts linguist-generated=true
src/__tests__/async-find.test.js linguist-generated=true
src/__tests__/async-first-or.spec.ts linguist-generated=true
src/__tests__/async-first-or.test.js linguist-generated=true
src/__tests__/async-first.spec.ts linguist-generated=true
src/__tests__/async-first.test.js linguist-generated=true
src/__tests__/async-flat-map.spec.ts linguist-generated=true
src/__tests__/async-flat-map.test.js linguist-generated=true
src/__tests__/async-flat.spec.ts linguist-generated=true
src/__tests__/async-flat.test.js linguist-generated=true
src/__tests__/async-fork.spec.ts linguist-generated=true
src/__tests__/async-fork.test.js linguist-generated=true
src/__tests__/async-group-by.spec.ts linguist-generated=true
src/__tests__/async-group-by.test.js linguist-generated=true
src/__tests__/async-interleave.spec.ts linguist-generated=true
src/__tests__/async-interleave.test.js linguist-generated=true
src/__tests__/async-interpose.spec.ts linguist-generated=true
src/__tests__/async-interpose.test.js linguist-generated=true
src/__tests__/async-map-parallel.spec.ts linguist-generated=true
src/__tests__/async-map.spec.ts linguist-generated=true
src/__tests__/async-map.test.js linguist-generated=true
src/__tests__/async-reduce.spec.ts linguist-generated=true
src/__tests__/async-reduce.test.js linguist-generated=true
src/__tests__/async-regexp-exec-iter.spec.ts linguist-generated=true
src/__tests__/async-regexp-exec-iter.test.js linguist-generated=true
src/__tests__/async-regexp-split-iter.spec.ts linguist-generated=true
src/__tests__/async-regexp-split-iter.test.js linguist-generated=true
src/__tests__/async-size.spec.ts linguist-generated=true
src/__tests__/async-size.test.js linguist-generated=true
src/__tests__/async-slice.spec.ts linguist-generated=true
src/__tests__/async-slice.test.js linguist-generated=true
src/__tests__/async-some.spec.ts linguist-generated=true
src/__tests__/async-some.test.js linguist-generated=true
src/__tests__/async-split-at.spec.ts linguist-generated=true
src/__tests__/async-split-at.test.js linguist-generated=true
src/__tests__/async-split-lines.spec.ts linguist-generated=true
src/__tests__/async-split-lines.test.js linguist-generated=true
src/__tests__/async-take-sorted.spec.ts linguist-generated=true
src/__tests__/async-take-sorted.test.js linguist-generated=true
src/__tests__/async-take-while.spec.ts linguist-generated=true
src/__tests__/async-take-while.test.js linguist-generated=true
src/__tests__/async-tap.spec.ts linguist-generated=true
src/__tests__/async-tap.test.js linguist-generated=true
src/__tests__/async-throttle.spec.ts linguist-generated=true
src/__tests__/async-to-array.spec.ts linguist-generated=true
src/__tests__/async-to-array.test.js linguist-generated=true
src/__tests__/async-zip-all.spec.ts linguist-generated=true
src/__tests__/async-zip-all.test.js linguist-generated=true
src/__tests__/async-zip.spec.ts linguist-generated=true
src/__tests__/async-zip.test.js linguist-generated=true
src/__tests__/batch.spec.ts linguist-generated=true
src/__tests__/batch.test.js linguist-generated=true
src/__tests__/call.spec.ts linguist-generated=true
src/__tests__/combinations-with-replacement.spec.ts linguist-generated=true
src/__tests__/combinations.spec.ts linguist-generated=true
src/__tests__/compose.spec.ts linguist-generated=true
src/__tests__/compress.spec.ts linguist-generated=true
src/__tests__/compress.test.js linguist-generated=true
src/__tests__/concat.spec.ts linguist-generated=true
src/__tests__/concat.test.js linguist-generated=true
src/__tests__/consume.spec.ts linguist-generated=true
src/__tests__/consume.test.js linguist-generated=true
src/__tests__/cursor.spec.ts linguist-generated=true
src/__tests__/cursor.test.js linguist-generated=true
src/__tests__/cycle.spec.ts linguist-generated=true
src/__tests__/cycle.test.js linguist-generated=true
src/__tests__/drop-while.spec.ts linguist-generated=true
src/__tests__/drop-while.test.js linguist-generated=true
src/__tests__/entries.spec.ts linguist-generated=true
src/__tests__/enumerate.spec.ts linguist-generated=true
src/__tests__/enumerate.test.js linguist-generated=true
src/__tests__/every.spec.ts linguist-generated=true
src/__tests__/every.test.js linguist-generated=true
src/__tests__/exec-pipe.spec.ts linguist-generated=true
src/__tests__/execute.spec.ts linguist-generated=true
src/__tests__/execute.test.js linguist-generated=true
src/__tests__/filter.spec.ts linguist-generated=true
src/__tests__/filter.test.js linguist-generated=true
src/__tests__/find.spec.ts linguist-generated=true
src/__tests__/find.test.js linguist-generated=true
src/__tests__/first-or.spec.ts linguist-generated=true
src/__tests__/first-or.test.js linguist-generated=true
src/__tests__/first.spec.ts linguist-generated=true
src/__tests__/first.test.js linguist-generated=true
src/__tests__/flat-map.spec.ts linguist-generated=true
src/__tests__/flat-map.test.js linguist-generated=true
src/__tests__/flat.spec.ts linguist-generated=true
src/__tests__/flat.test.js linguist-generated=true
src/__tests__/fork.spec.ts linguist-generated=true
src/__tests__/fork.test.js linguist-generated=true
src/__tests__/group-by.spec.ts linguist-generated=true
src/__tests__/group-by.test.js linguist-generated=true
src/__tests__/interleave.spec.ts linguist-generated=true
src/__tests__/interleave.test.js linguist-generated=true
src/__tests__/interpose.spec.ts linguist-generated=true
src/__tests__/interpose.test.js linguist-generated=true
src/__tests__/keys.spec.ts linguist-generated=true
src/__tests__/map.spec.ts linguist-generated=true
src/__tests__/map.test.js linguist-generated=true
src/__tests__/permutations.spec.ts linguist-generated=true
src/__tests__/pipe.spec.ts linguist-generated=true
src/__tests__/product.spec.ts linguist-generated=true
src/__tests__/range.spec.ts linguist-generated=true
src/__tests__/reduce.spec.ts linguist-generated=true
src/__tests__/reduce.test.js linguist-generated=true
src/__tests__/regexp-exec-iter.spec.ts linguist-generated=true
src/__tests__/regexp-exec-iter.test.js linguist-generated=true
src/__tests__/regexp-exec.spec.ts linguist-generated=true
src/__tests__/regexp-split-iter.spec.ts linguist-generated=true
src/__tests__/regexp-split-iter.test.js linguist-generated=true
src/__tests__/regexp-split.spec.ts linguist-generated=true
src/__tests__/repeat.spec.ts linguist-generated=true
src/__tests__/size.spec.ts linguist-generated=true
src/__tests__/size.test.js linguist-generated=true
src/__tests__/slice.spec.ts linguist-generated=true
src/__tests__/slice.test.js linguist-generated=true
src/__tests__/some.spec.ts linguist-generated=true
src/__tests__/some.test.js linguist-generated=true
src/__tests__/split-at.spec.ts linguist-generated=true
src/__tests__/split-at.test.js linguist-generated=true
src/__tests__/split-lines.spec.ts linguist-generated=true
src/__tests__/split-lines.test.js linguist-generated=true
src/__tests__/take-sorted.spec.ts linguist-generated=true
src/__tests__/take-sorted.test.js linguist-generated=true
src/__tests__/take-while.spec.ts linguist-generated=true
src/__tests__/take-while.test.js linguist-generated=true
src/__tests__/tap.spec.ts linguist-generated=true
src/__tests__/tap.test.js linguist-generated=true
src/__tests__/to-array.spec.ts linguist-generated=true
src/__tests__/to-array.test.js linguist-generated=true
src/__tests__/values.spec.ts linguist-generated=true
src/__tests__/zip-all.spec.ts linguist-generated=true
src/__tests__/zip-all.test.js linguist-generated=true
src/__tests__/zip.spec.ts linguist-generated=true
src/__tests__/zip.test.js linguist-generated=true
src/async-batch.d.ts linguist-generated=true
src/async-batch.mjs linguist-generated=true
src/async-compress.d.ts linguist-generated=true
src/async-compress.mjs linguist-generated=true
src/async-concat.d.ts linguist-generated=true
src/async-concat.mjs linguist-generated=true
src/async-consume.d.ts linguist-generated=true
src/async-consume.mjs linguist-generated=true
src/async-cursor.d.ts linguist-generated=true
src/async-cursor.mjs linguist-generated=true
src/async-drop-while.d.ts linguist-generated=true
src/async-drop-while.mjs linguist-generated=true
src/async-enumerate.d.ts linguist-generated=true
src/async-enumerate.mjs linguist-generated=true
src/async-every.d.ts linguist-generated=true
src/async-every.mjs linguist-generated=true
src/async-execute.d.ts linguist-generated=true
src/async-execute.mjs linguist-generated=true
src/async-filter.d.ts linguist-generated=true
src/async-filter.mjs linguist-generated=true
src/async-find.d.ts linguist-generated=true
src/async-find.mjs linguist-generated=true
src/async-first-or.d.ts linguist-generated=true
src/async-first-or.mjs linguist-generated=true
src/async-first.d.ts linguist-generated=true
src/async-first.mjs linguist-generated=true
src/async-flat-map.d.ts linguist-generated=true
src/async-flat-map.mjs linguist-generated=true
src/async-flat.d.ts linguist-generated=true
src/async-flat.mjs linguist-generated=true
src/async-fork.d.ts linguist-generated=true
src/async-fork.mjs linguist-generated=true
src/async-group-by.d.ts linguist-generated=true
src/async-group-by.mjs linguist-generated=true
src/async-interleave.d.ts linguist-generated=true
src/async-interleave.mjs linguist-generated=true
src/async-interpose.d.ts linguist-generated=true
src/async-interpose.mjs linguist-generated=true
src/async-map.d.ts linguist-generated=true
src/async-map.mjs linguist-generated=true
src/async-reduce.d.ts linguist-generated=true
src/async-reduce.mjs linguist-generated=true
src/async-regexp-exec-iter.d.ts linguist-generated=true
src/async-regexp-exec-iter.mjs linguist-generated=true
src/async-regexp-split-iter.d.ts linguist-generated=true
src/async-regexp-split-iter.mjs linguist-generated=true
src/async-size.d.ts linguist-generated=true
src/async-size.mjs linguist-generated=true
src/async-slice.d.ts linguist-generated=true
src/async-slice.mjs linguist-generated=true
src/async-some.d.ts linguist-generated=true
src/async-some.mjs linguist-generated=true
src/async-split-at.d.ts linguist-generated=true
src/async-split-at.mjs linguist-generated=true
src/async-split-lines.d.ts linguist-generated=true
src/async-split-lines.mjs linguist-generated=true
src/async-take-sorted.d.ts linguist-generated=true
src/async-take-sorted.mjs linguist-generated=true
src/async-take-while.d.ts linguist-generated=true
src/async-take-while.mjs linguist-generated=true
src/async-tap.d.ts linguist-generated=true
src/async-tap.mjs linguist-generated=true
src/async-to-array.d.ts linguist-generated=true
src/async-to-array.mjs linguist-generated=true
src/async-zip-all.d.ts linguist-generated=true
src/async-zip-all.mjs linguist-generated=true
src/async-zip.d.ts linguist-generated=true
src/async-zip.mjs linguist-generated=true
src/batch.d.ts linguist-generated=true
src/batch.mjs linguist-generated=true
src/compress.d.ts linguist-generated=true
src/compress.mjs linguist-generated=true
src/concat.d.ts linguist-generated=true
src/concat.mjs linguist-generated=true
src/consume.d.ts linguist-generated=true
src/consume.mjs linguist-generated=true
src/cursor.d.ts linguist-generated=true
src/cursor.mjs linguist-generated=true
src/drop-while.d.ts linguist-generated=true
src/drop-while.mjs linguist-generated=true
src/enumerate.d.ts linguist-generated=true
src/enumerate.mjs linguist-generated=true
src/every.d.ts linguist-generated=true
src/every.mjs linguist-generated=true
src/execute.d.ts linguist-generated=true
src/execute.mjs linguist-generated=true
src/filter.d.ts linguist-generated=true
src/filter.mjs linguist-generated=true
src/find.d.ts linguist-generated=true
src/find.mjs linguist-generated=true
src/first-or.d.ts linguist-generated=true
src/first-or.mjs linguist-generated=true
src/first.d.ts linguist-generated=true
src/first.mjs linguist-generated=true
src/flat-map.d.ts linguist-generated=true
src/flat-map.mjs linguist-generated=true
src/flat.d.ts linguist-generated=true
src/flat.mjs linguist-generated=true
src/fork.d.ts linguist-generated=true
src/fork.mjs linguist-generated=true
src/group-by.d.ts linguist-generated=true
src/group-by.mjs linguist-generated=true
src/interleave.d.ts linguist-generated=true
src/interleave.mjs linguist-generated=true
src/internal/__tests__/async-iterable.test.js linguist-generated=true
src/internal/__tests__/iterable.test.js linguist-generated=true
src/interpose.d.ts linguist-generated=true
src/interpose.mjs linguist-generated=true
src/map.d.ts linguist-generated=true
src/map.mjs linguist-generated=true
src/reduce.d.ts linguist-generated=true
src/reduce.mjs linguist-generated=true
src/regexp-exec-iter.d.ts linguist-generated=true
src/regexp-exec-iter.mjs linguist-generated=true
src/regexp-split-iter.d.ts linguist-generated=true
src/regexp-split-iter.mjs linguist-generated=true
src/size.d.ts linguist-generated=true
src/size.mjs linguist-generated=true
src/slice.d.ts linguist-generated=true
src/slice.mjs linguist-generated=true
src/some.d.ts linguist-generated=true
src/some.mjs linguist-generated=true
src/split-at.d.ts linguist-generated=true
src/split-at.mjs linguist-generated=true
src/split-lines.d.ts linguist-generated=true
src/split-lines.mjs linguist-generated=true
src/take-sorted.d.ts linguist-generated=true
src/take-sorted.mjs linguist-generated=true
src/take-while.d.ts linguist-generated=true
src/take-while.mjs linguist-generated=true
src/tap.d.ts linguist-generated=true
src/tap.mjs linguist-generated=true
src/to-array.d.ts linguist-generated=true
src/to-array.mjs linguist-generated=true
src/zip-all.d.ts linguist-generated=true
src/zip-all.mjs linguist-generated=true
src/zip.d.ts linguist-generated=true
src/zip.mjs linguist-generated=true
